# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore specific files
120_file/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store

# Streamlit
.streamlit/secrets.toml
.streamlit/config.toml